:root {
  --black:  #1C1C1C;
  --peach: #E27866;
  --pastel: #A37169;
  --blue: #6696E2;
  --green: #41D395;
  --border: #F5F5F5;
  --label: #D8D8D8;
  --gray: #86878B;
}

body {
  margin: 0;
  
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

@import "global/global-base.scss";
@import "components/components-base.scss";